

<!DOCTYPE html>

<head>
<!-- link css stylesheet -->
<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<!-- load custom fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<!-- link font awesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav>
  <div class="nav-left">
    <div class="nav-logo"><img src=""></div>
    <!-- <i class="fa-solid fa-user"></i> -->
    <div class="brand"><h1>SmartTODOList</h1></div>
  </div>
  <div class="nav-right">
    <a class="nav-link-profile" href="#">Profile</a>
    <a class="nav-link-about" href="#">About</a>
    <a class="nav-link-settings" href="#">Settings</a>
    <a class="nav-link-logout" href="#">Logout</a>
  </div>

</nav>
