<!DOCTYPE html>

<head>
  <!-- link css stylesheet -->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <!-- load custom fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- link font awesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav>
  <a class="nav-left" href="/">
    <div class="nav-logo"><img src="/images/owl_logo.png" width="100" height="100"></div>
    <!-- <i class="fa-solid fa-user"></i> -->
    <div class="brand"><h1>Smart To Do List</h1></div>
    <!-- <div><h3>A smart categorization to-do list.</h3></div> -->
  </a>
  <div class="nav-right">
    <a class="nav-link-profile" href="#"><h3>Profile</h3></a>
    <a class="nav-link-about" href="#"><h3>About</h3></a>
    <a class="nav-link-settings" href="#"><h3>Settings</h3></a>
    <a class="nav-link-logout" href="#"><h3>Logout</h3></a>
  </div>

</nav>
