<!DOCTYPE html>
<html>

<head>
    <!-- load custom fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- link font awesome for icons from cdnjs.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modal</title>
    <link rel="stylesheet" href="/styles/create_list.css" type="text/css" />
</head>

<body>
  <span class="modal-link" id="modalLink"><i class="fa-solid fa-plus"></i></span>
  <!-- <button id="modalLink" class="modal-link">Click Here</button> -->

  <div id="createListModal" class="list-modal">
    <div class="list-modal-content">
      <!-- &times; gives us close icon -->
      <span class="close-modal-button" id="closeModalButton">&times;</span>
      <h3>Create new list!</h3>
      <p>Add at least one task to get started!</p>
      <form action="/api/lists" method="post">
            <label for="list-name">List Name:</label>
            <input type="text" id="list-name" name="lists.name">

            <label for="task-1">Task 1:</label>
            <input type="task" id="task" name="task">

            <label for="task-2">Task 2:</label>
            <input type="task" id="task" name="task">

            <button>Submit</button>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="/scripts/create_list.js"></script>
</body>
</html>
