<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Modal</title>
<link rel="stylesheet" href="/styles/modal.css" type="text/css" />
</head>

<body>
  <button id="modalTrigger" class="modal-trigger">Click Here</button>

  <div id="createListModal" class="list-modal">
    <div class="list-modal-content">
      <!-- &times; gives us close icon -->
      <span class="close-modal-button">&times;</span>
      <p>Form goes here</p>
    </div>
  </div>

  <script type="text/javascript" src="/scripts/front_end.js"></script>
</body>
</html>
