$font-family: 'Roboto', sans-serif;
$background-color: #d9d9d9;
$font-color: black;

.home_page {
  display: flex;
  padding-top: 5%;
  background: $background-color;
  flex-direction: column;
}

a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
};

a:hover {
  color: #3a3a3a;
  font-style: italic;
}

button {
  background-color: #fcde67;
  cursor:pointer;
}

button:hover {
  background-color: aqua;
}

.list_header {
  height: 150px;
  padding: 2em;
  margin-top: 20px
}

.list_container {
  display: flex;
  background: $background-color;
  flex-direction: row;
  justify-content: center;
}

// HOMEPAGE LIST CONTAINER
article {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #5bccf6;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000000;
  box-shadow: 2px 2px 2px 2px #000000;
  width: 65%;
}

.list_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  column-gap: 20px;
}

.list_right {
  display: flex;
  padding-right: 20px;
}

.modal-link {
  font-size: 26px;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 10%;
  background: #fcde67;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  align-self: flex-end;
  width: 20%;
  box-shadow: 2px 2px 2px 2px #000000;
  cursor: pointer;
}

.modal-link:hover {
  background: aqua;
}


#task_count {
  color: brown;
}

// article:hover {
// box-shadow: 5px 5px 0  brown;
// };
