$font-family: 'Roboto', sans-serif;
$background-color: #d9d9d9;

button {
  background-color: aquamarine;
}

button:hover {
  background-color: aqua;
}

.done {
  background-color: #ff0000;
}

.list_page {
  display: flex;
  padding-top: 5%;
  background: $background-color;
  flex-direction: column;
}

#list_name {
  display: flex;
  padding-top: 40px;
  font-size: 42px;
  justify-content: center;
}

#header_message {
  display: flex;
  justify-content: center;
}

.list_container {
  display: flex;

  flex-direction: row;
  justify-content: center;
}

article {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: lightskyblue;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000000;
  box-shadow: 2px 2px 2px 2px #000000;
  // width: 65%;
}

.task_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  column-gap: 20px;
}

.task_right {
  display: flex;
  padding-right: 20px;
  column-gap: 10px;
}

.modal-link {
  font-size: 26px;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20%;
  background: pink;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  align-self: flex-end;
  width: 20%;
}

.modal-link:hover {
  background: aqua;
}
