body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 2;
}

.modal-link {
  font-size: 26;
  background: yellow;
  padding: 1px 2px;
  border: 1px;
}

.modal-link:hover {
  background: teal;
}

.list-modal {
  // display: none;
  position: fixed;
  // position in front of page
  padding: 10px;
  z-index: 1;
  left: 0;
  top: 0;
  height: 50;
  width: 50;
  // enables scroll if content is too big
  overflow: auto;
  // use rgba to set opacity
  background-color: rgba(206, 63, 63, 0.6) /* white with 60% opacity */

}
