

.edit-modal-link {
  font-size: 26px;
  background: yellow;
  padding: 1px 2px;
  border: 1px;
}

.edit-modal-link:hover {
  background: teal;
}

.edit-task-modal {
  // hides the modal until the js triggers it open
  display: none;
  position: fixed;
  // position in front of page
  padding: 10px;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  // enables scroll if content is too big
  overflow: auto;
  // use rgba to set opacity
  background-color: rgba(0, 0, 0, 0.6) /* color with 60% opacity */
}

.edit-task-modal-content {
  background: lightblue;
  margin: 15% auto;
  width: 50%;
  padding: 20px;
  padding-bottom: 40px;
  border: 1px;
  box-shadow: 2px 2px 2px 2px #000000;
}

.edit-close-modal-button {
  color: red;
  float: right;
  font-size: 35px;
}

// change x color when user hovers
.edit-close-modal-button:hover {
  color: darkred;
  cursor: pointer;
}
