$font-style: black;

nav {
  a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
  };

  a:hover {
    color: #3a3a3a;
    font-style: italic;
  }
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  background: #5bccf6;
  position: absolute;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  border: 1px solid #000000;
  width: 100%;
  height: 120px;
  font-style: black;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10px;
  height: 90%;
  width: 50%;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
  height: 90%;
  width: 30%;

}


